<% provide(:title, "HOME") %>
<h1>タイトル</h1>

<div class="home-main-container">
  <h1>ラーメン</h1>
</div>

<div class="left"> 
  <h2>新規登録者</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
