<% provide(:title, "Edit") %>
<h1>プロフィール編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <%= form_for @user, html: { multipart: true } do |f| %>
        <%= render 'shared/error_messages' %>
	
	<%= f.label :name, "アカウント名" %>
	<%= f.text_field :name, class: 'form-control' %>

	<%= f.label :email, "メールアドレス" %>
	<%= f.text_field :email, class: 'form-control' %>

	<%= f.label :password, "パスワード" %>
	<%= f.password_field :password, class: 'form-control' %>

	<%= f.label :password_confirmaiton, "パスワード再入力" %>
	<%= f.password_field :password_confirmation, class: 'form-control' %>

	<%= f.label :image, "プロフィール写真" %>
	<%= f.file_field :image, class: "dropzone fallback form-control form-control-file" %>
      
	<%= f.submit "編集を保存", class: "btn btn-primary" %>
      <% end %>


    </div>
  </div>
</div>
