<%= provide(:title, '全アカウント') %>
<h1>全アカウント</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= image_tag(user.image, width: 50, height: 50) %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>
