<% provide(:title, @user.name) %>
<h1>
  <%= @user.name %>
</h1>
<div class="image-center">
<% if @user.image? %>
  <%= image_tag @user.image.url  %>
<% else %>
  <%= image_tag 'nothing.jpg' %>
<% end %>
</div>

<div>ポイント</div>
<% if @user.point %>
<% sum = 0 %>
  <% @user.point.each do |point| %>
     <% sum += point.point %>
  <% end %>
<h2><%= sum %></h2>
<% else %>
  <h1>no point</h1>
<% end %>

