<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "あaaaaaaaa", root_path, id: "logo" %>
    <nav>

      <ul class="nav navbar-nav navbar-right">
	<li><%= link_to "アバウト", about_path %></li>
	<li><%= link_to "アクセス", access_path %></li>
	<li><%= link_to "メニュー＆食券", "#" %></li>
	<li><%= link_to "状況", "#" %></li>
	<li><%= link_to "マップ", "#" %></li>
	<% if logged_in? %>
	　<li><%= link_to "ガチ", gacha_path %></li>
	  <li><%= link_to "全アカウント", users_path %></li>
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	      Account</a>
	    <ul class="dropdown-menu">
	      <li><%= link_to "アカウント", current_user %></li>
	      <li><%= link_to "ユーザー設定", edit_user_path(current_user) %></li>
	      <li class="divider"></li>
	      <li>
		<%= link_to "ログアウト", logout_path, method: :delete %>
	      </li>
	    </ul>
	  </li>
	<% else %>
	  <li><%= link_to "新規登録", signup_path %></li>
	  <li><%= link_to "ログイン", login_path %></li>
	<% end %>	
      </ul>
    </nav>
  </div>
</header>
